#home{
    width:100vw;
    padding:4vh 0;
    height:92vh;
    max-height:92vh;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    overflow-x:hidden;
    background:rgb(250, 250, 250);
}
.landing-image{
    height:75vh !important;
    margin-top:40vh;
    margin-right:3vh;
    overflow:hidden;
    z-index:1000000000;
    width:auto;
}
#home h1{
    font-family: 'Manjari', sans-serif;
    margin:0;
    font-weight:300;
    z-index:20;
    color:rgb(54, 54, 54);
    font-size:70px;
}
#home p{
    font-size:20px;
    z-index:20;
    color:rgb(133, 133, 133);
    /* font-weight:600 !important; */
}
.head-span{
    padding:0;
    background:url('../../assets/ishita.webp');
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700 ;
    font-family: 'Montserrat', sans-serif;
    color: #F3EEE0;
    animation: animate-background alternate 13s infinite;
}
.buttons{
    display:flex;
    /* margin:1vh 0; */
    z-index:20;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
}
@keyframes animate-background  {
    from {
        background-position:60% 12%;
    }
    to {
        background-position:40% 5%;
    }
}

@media screen and (max-width:1200px){
    #home h1{
        font-size:60px;
    }
}
@media screen and (max-width:1000px){
    #home h1{
        font-size:50px;
        margin-left:7vh;
    }
    #home p{
        margin-left:7vh;
    }
    #home{
        align-items:flex-start;
        text-align: left;
    }
}
@media screen and (max-width:900px){
    #home h1{
        font-size:43px;
        margin-left:5vh;
        width:70%;
    }
    #home p{
        margin-left:5vh;
        width:60%;
    }
}
@media screen and (max-width:500px){
    #home{
        align-items:center;
        text-align: center;
    }
    #home h1{
        font-size:37px;
        margin-left:0;
        width:80%;
    }
    #home p{
       font-size:18px;
       width:80%;
       margin-left:0;
    }

}