#home{
    height:100vh;
    width:100vw;
    background:rgb(250,250,250);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
#home h1{
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
    margin:0;
    font-weight:300;
    z-index:20;
    color:rgb(75, 75, 75);
    font-size:67px;
}
.head-span{
    padding:0;
    font-weight: 700 ;
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
    background:rgb(250, 250, 250);
    animation: animate-background alternate 13s infinite;
    text-align:center;
}
#home p{
    font-size:20px;
    z-index:20;
    color:rgb(70, 70, 70);
}
.buttons{
    display:flex;
    z-index:20;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
}

@keyframes animate-background  {
    from {
        background-position:60% 12%;
    }
    to {
        background-position:40% 5%;
    }
}

@media screen and (max-width:1200px){
    #home h1{
        font-size:60px;
    }
}
@media screen and (max-width:1000px){
    #home h1{
        font-size:50px;
        padding:0;
        margin-left:5vh;
    }
    #home p{
        padding:0;
        margin-left:5vh;
    }
    #home{
        align-items:flex-start;
        text-align: left;
    }
    .buttons{
       padding:0;
       margin-left:5vh;
    }
}
@media screen and (max-width:900px){
    #home h1{
        font-size:43px;
        width:70%;
    }
    #home p{
        width:60%;
    }
}
@media screen and (max-width:700px){
    #home h1{
        font-size:43px;
        width:70%;
        margin-left:0;
    }
    #home p{
        width:60%;
        margin-left:0;
    }
    .buttons{
        margin-left:0;
    }
    #home{
        align-items:center;
        text-align: center;
    }
}
@media screen and (max-width:500px){
    #home{
        align-items:center;
        text-align: center;
    }
    #home h1{
        font-size:37px;
        margin-left:0;
        width:80%;
    }
    #home p{
       font-size:18px;
       width:80%;
       margin-left:0;
    }
}