button{
    border:none;
    outline:none;
    cursor:none;
    transition:0.5s;
}
.filled-button i, .line-button i{
    margin-left:4vh;
    font-display: fallback;
    font-size:20px;
}
.filled-button-i i{
    font-display: fallback;
    font-size:25px;
}
.w-100{
    width:100%;
}
.filled-button{
    margin:0;
    padding:2vh 3vh;
    color:rgb(31, 31, 31);
    margin-right:3vh;
    font-family: 'Montserrat';
    font-display: swap;
    font-size:19px;
    font-weight:600;
}
.filled-button-i{
    font-display: fallback;
    margin:0;
    padding:1.6vh 2.2vh;
    color:rgb(255, 255, 255);
    margin-right:3vh;
    font-family: 'Montserrat';
    font-display: swap;
    font-size:19px;
    font-weight:600;
}
.line-button{
    margin:0;
    padding:1.75vh 3vh;
    background:none;
    font-family: 'Montserrat';
    font-display: swap;
    font-size:19px;
    font-weight:600;
}
button:hover {
    transition:0.5s;
    padding-left:5vh;
    padding-right:5vh;
}
.bt-y-l{
    color:#e0ae30;
    border:solid 2px #F8CB59;
}
.bt-y-f{
    background:#F8CB59;
}
.bt-yl-f{
    margin:0;
    padding:1.6vh 2.2vh;
    color:rgb(255, 255, 255);
    margin-right:3vh;
    font-family: 'Montserrat';
    font-display: swap;
    font-size:19px;
    font-weight:600;
    background:#F8CB59;
    color: #C0962A;
}
.bt-r-l{
    color:#FF6363;
    border:solid 2px #FF6363;
}
.bt-r-f{
    background:#FF6363;
}
.bt-g-l{
    color:#59F8B5;
    border:solid 2px #59F8B5;
}
.bt-g-f{
    background:#59F8B5;
}
.bt-yl-f:hover{
    border:2px solid #F8CB59;
    background:none;
    color: #F8CB59;
}
.ib{
    margin:0 !important;
}
@media screen and (max-width:600px){
    button i{
        font-display: fallback;
        margin-left:3vh;
    }
    button:hover {
        transition:0.5s;
        padding-left:4vh;
        padding-right:4vh;
    }    
}
@media screen and (max-width:600px){
    button i{
        margin-left:1vh;
        font-display: fallback;
    }
    button:hover {
        transition:0.5s;
        padding-left:3vh;
        padding-right:3vh;
    }
    .line-button{
        font-size:16px;
        padding:1.75vh 2vh;
        margin-right:2vh;
    }
    .filled-button{
        padding:2vh 2vh;
        font-size:16px;
    }
    .filled-button-i i{
        font-display: fallback;
        font-size:25px;
        margin:0;
    }
    .h-a-small{
        display:none;
    }
}