.project-card{
    height:40vh;
    width:52vh;
    /* border-radius:8px; */
    margin:0 4vh;
    margin-bottom:8vh;
    background:white;
}
.project-card a{
    color:black;
}
.img-holder{
    width:52vh;
    /* border-radius:8px 8px 0 0; */
    height:20vh;
    background:rgb(37, 37, 37);
    /* border-bottom: solid 2vh #59F8B5; */
    overflow:hidden;
    transition:0.5s;
}
.img-holder img{
    width:52vh;
    height:auto;
}
.hr-bar-gr{
    height:1.5vh;
    width:52vh;
    background: rgb(89,248,181);
    background: linear-gradient(90deg, rgba(89,248,181,1) 16%, rgba(22,123,81,1) 64%);
}
.project-card h3{
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:20px;
    margin:2.5vh 2vh 0 2vh;
}
.text-switch{
    display:flex; 
}
.text-switch-1{
    display:none; 
}
.project-card p{
    font-size:16px !important;
    color:rgb(68, 68, 68);
    margin:1vh 2vh 0 2vh;
}
.row{
    margin-top:1vh;
    margin-left:2vh;
    display:flex;
}
.row i{
    margin-right:1vh;
    font-display: fallback;
    font-size:23px;
}
.project-card:hover {
   box-shadow:0 0 12px  rgba(166, 255, 218, 0.507);
}
.project-card:hover p{
    font-size:15px !important;
 }
.index-cards{
    font-size:39px;
    color:rgb(226, 226, 226);
    margin:0;
}
.project-card:hover .img-holder{
    height:10vh;
    transition:0.5s;
}
.project-card:hover img{
    transform: scale(1.1);
    transition:0.5s;
}
.project-card:hover .text-switch{
    display:none; 
}
.project-card:hover .text-switch-1{
    display:flex; 
}

@media screen and (max-width:1000px){
    .project-card{
        margin-bottom:10vh;   
    }
}
@media screen and (max-width:700px){
    .project-card{
        margin-bottom:7vh;
        max-width:80vw;
    }
    .img-holder{
        max-width:80vw;
        height:15vh;
    }
    .img-holder img{
        width:100%;
        height:auto;
    }
    .hr-bar-gr{
        max-width:80vw;
    }
}