.row-sp{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin-bottom:8vh;
    width:50%;
}
.content-fr{
    display:flex;
    flex-direction:column;
    width:90%;
    align-items:flex-start;
    justify-content:center;
}
.content-fr p{
    margin:1vh 0;
}
.content-fr span{
    margin-top:-1vh;
    color:grey;
    font-size:15px;
}
@media screen and (max-width:900px){
    .row-sp{
        width:100%;
    }
    .content-fr{
        width:95%;
    }
}