#about{
    /* -- */
    width:96vw;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    /* -- */
    border-right: 4vw #FF6363 solid;
}
#about h2{
    font-size:35px;
    margin:0;
}
.tools-intro{
    margin:3vh 0 !important;
    padding:0 !important;
    font-weight:400;
}
.tech{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin:-1vh 0 5vh 0;
    align-items:center;
    justify-content:flex-start;
}
.buttons-about{
    display:flex;
}
.image-tech{
    height:auto;
    width:6vh;
    margin:1vh 0;
    margin-right:2vh;
}
.about-cont{
    padding:7vh 0;
    width:92vw;
    padding-left:4vw;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}
.tech-cont{
    display:flex;
    flex-direction:row;
    width:33%;
    align-items:center;
}
.tech-placeholder{
    margin-right:3vh;
    font-size:14px;
    color:rgb(71, 71, 71);
    transition:0.2s;
    font-weight:600;
}
.white{
    background:white;
}
.yellow{
    background:#F8CB59;
}
.about-p{
    margin-top:5vh;
    font-size:17px;
    width:95%;
}
.about-p-2{
    margin:1vh 0;
    font-size:19px;
    color:rgb(31, 31, 31);
    width:80%;
}
.about-p-2 span{
    color:#500303;
    font-size:17px;
    line-height:30px;
}
@media screen and (max-width:1000px){
    .about-p{
        width:95%;
    }
}
@media screen and (max-width:800px){
    .tech-cont{
        width:50%;
    }
}
@media screen and (max-width:600px){
    .tech-cont{
        width:20%;
    }
    .tech-placeholder{
       display:none;
    }
}