.cursor{
  width: 40px;
  height: 40px;
  border: 2px solid #ffc124;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.02s ease;
  z-index: 9999;
  /* mix-blend-mode: difference; */
}
.cursor-inner{
  width: 15px;
  height: 15px;
  background: #ffc124;
  /* border: 2px solid #F8CB59; */
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0s ease;
  z-index: 9999;
  /* mix-blend-mode: difference; */
}
.cursor--hidden {
    opacity: 0;
}
@media screen and (max-width:499px){
  .cursor{
    display:none;
  }
  .cursor-inner{
    display:none;
  }
}