#hire{
    width:92vw;
    padding:12vh 4vw;
    background:white;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}
.hire-cont{
    margin-left:5%;
    flex-grow: 1;
    max-width:50%;
}
.hire-cont p{
    width:80%;
}
.hire-sub{
    font-size:22px;
    color:grey;
}
.form{
    display:flex;
    width:40%;
    min-width:500px;
    flex-direction:column;
}
.error{
    font-size:13px;
    color:red;
}
input::placeholder{
    color:rgb(204, 203, 203);
}
textarea::placeholder{
    color:rgb(204, 203, 203);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}
input{
    cursor:pointer;
    padding:2vh;
    border:none;
    outline:none;
    color:rgb(80, 79, 79);
    font-family:'Montserrat';
    font-size:16px;
    border-left:solid 1vh #FFCF54;
    background:#F2F2F2;
    font-weight:400;
}
.row a{
    color:black;
}
textarea{
    cursor:pointer;
    padding:2vh;
    border:none;
    font-family:'Montserrat';
    color:rgb(80, 79, 79);
    outline:none;
    font-weight:400;
    font-size:16px;
    min-height:30vh;
    border-left:solid 1vh #FFCF54;
    border-right: solid 1vh #F2F2F2;
    background:#F2F2F2;
    resize:none;
}
@media screen and (max-width:1200px) {
    .hire-cont{
        margin-left:5%;
        flex-grow: 1;
        max-width:auto;
    }
    .hire-cont p{
        width:100%;
    }
}
@media screen and (max-width:1100px) {
    #hire{
        flex-direction:column-reverse;
        align-items:flex-start;
        justify-content:flex-start;
    }
    .hire-cont{
        margin-left:0;
        margin-bottom:6vh;
        max-width:80%;
    }
    .form{
        width:60%;
        min-width:500px;
    }
}
@media screen and (max-width:600px) {
    .form{
        width:97%;
        min-width:100px;
    }
}